header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 100px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .search {
    display: flex;
  }
  
  .search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #555;
  }
  

  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
  
  .carousel-caption h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  

  





  